{% load static %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% load reversejs %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Eager Cannon{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "images/TODO.png" %}">

    <script>
        {# This can be used to pass relevant Django settings to the frontend app. #}
        var DJ_CONST = {
            {% for key, value in settings.items %}
                "{{ key|escapejs }}": "{{ value|escapejs }}",
            {% endfor %}
            {% if request.user.is_authenticated %}
                user: {
                    id: {{ request.user.id }},
                    email: "{{ request.user.email|escapejs }}",
                    name: "{{ request.user.name|escapejs }}",
                },
            {% else %}
                user: null,
            {% endif %}
        };
        
        {% reverse_js %}
        
    </script>

    
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    

    {# In production, don't include the styles js file (which is unused anyway) #}
    {% if settings.DEBUG %}
        {% render_bundle 'styles' %}
    {% else %}
        {% render_bundle 'styles' 'css' %}
    {% endif %}
    {% block css %}{% endblock css %}
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="{% block body_classes %}{% endblock %}">
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    
    <div id="navigation-bar">
        <header class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">Eager Cannon</a>
            </div>
        </header>
        
    </div>
    

    <div class="container">
        {% block content %}{% endblock content %}
    </div>

    {% render_bundle 'app' %}
    
    <script>
        eager_cannon.initNavigationBar();
    </script>
    
    {% block scripts %}{% endblock scripts %}
  </body>
</html>

